<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset =  'UTF-8'>
    <!--設定IE Chrome 兼容模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- 使用web framework : bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <!-- jquery套件 -->
     <script src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <!-- fullpage套件 -->
    <script src ='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.7/fullpage.min.js'></script>
   
    <!-- 指定螢幕寬度為裝置寬度，畫面載入初始縮放比例 100% -->
    <title>期末專題-個人履歷網站</title>

    <!-- font awesome -->
        <link rel = 'stylesheet' href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&family=Source+Serif+Pro:ital@1&display=swap" rel="stylesheet">

        <!-- css 連結 -->
        <link rel="stylesheet" href="{{ url_for('static',filename='style1.css')}}">
</head> 
<body>
    <!-- 第一部分 -->
  <div class = 'container'>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href ='{{url_for('index')}}'>
          <img src="{{ url_for('static',filename='lucosine.JPG') }}" style = 'width:200px'> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
              <a class="nav-link"  href ='{{url_for('index')}}' style = "
              background-color:gray;
              color:white;
              padding: 9px 20px;
              border-radius:20px;
              ">首頁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href ='{{url_for('myself')}}' style = "
                background-color:gray;
                color:white;
                padding: 9px 20px;
                border-radius:20px;
                ">自我介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href ='{{url_for('experience')}}' style = "
              background-color:gray;
              color:white;
              padding: 9px 20px;
              border-radius:20px;
              ">特殊經歷</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href ='{{url_for('information3')}}' style = "
              background-color:gray;
              color:white;
              padding: 9px 20px;
              border-radius:20px;
              ">興趣</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href ='{{url_for('contact')}}' style = "
                  background-color:gray;
                  color:white;
                  padding: 9px 20px;
                  border-radius:20px;
              ">聯絡方式</a>
            </li>

            
            <a class="brand" href="#">
              <img src="{{ url_for('static',filename='./welcome.jpg') }}" style = 'width:300px'> 
            </a>
           


          </ul>
        </div>
       </div> 
    </nav>
  </div>
<!-- 第二層 -->

<div class = 'mydata1' id = 'mydata1' style = 'position:relative;top:-40px'>
  <div class = 'contact'>
    
    <div class = 'mytext'>
      <h4 style ='text-align:center;'>-PERFORMANCE EXPERIENCE-<i class="fa-regular fa-music-note"></i></h4>
       <h5 style ='text-align:center;position:relative;top:5px;'><i class="fa-solid fa-down"></i>下方有放一些表演影片的連結<i class="fa-solid fa-down"></i></h5>
       <p><h5 style ='text-align:center;position:relative;top:2px;'>有興趣可點進去觀看喔！</h5></p>
    </div>  
  </div>
</div>


<div class = 'txt'>
    <h4 style = 'text-align:center; position:relative;top:-20px'><i class="fa-solid fa-camera"></i> 表演影片 <i class="fa-solid fa-camera"></i></h4>
</div>
<div class ='row justify-content-center'  style="background-color:rgba(228, 226, 189, 0.85)">
  <div class='col-sm-6'>
    <h4 style='text-align:center; position:relative;top:15px'>
        <i class="fa-solid fa-video"></i> Calgary Stampede WAMSB <i class="fa-solid fa-video"></i>
    </h4>
    <a href="https://www.youtube.com/watch?v=-mkr_mcJdHI" target="_blank">
        <img src="{{ url_for('static', filename='./加拿大封面拷貝.JPG') }}" alt="Calgary Stampede WAMSB" width="500" height="300" style='position:relative;left:100px;position:relative;top:-10px;'>
    </a>
  </div>



  <div class='col-sm-6'>
    <h4 style='text-align:center; position:relative;top:15px'>
        <i class="fa-solid fa-video"></i>Calgary Stampede Parade <i class="fa-solid fa-video"></i>
    </h4>
    <a href="https://www.youtube.com/watch?v=fvC5dtIVCqU" target="_blank">
        <img src="{{ url_for('static', filename='./遊行拷貝.JPG') }}" alt="Calgary Stampede Parade" width="500" height="300" style='position:relative;right:-40px;position:relative;top:-10px;'>
    </a>
  </div>
</div>







<!-- 第三層 footer -->
<footer class ='container-fluid text-center'>
  <a class='btn' href ='{{url_for('index')}}' style = "
  background-color:black;
  color:white;
  padding: 9px 20px;
  border-radius:20px;
  position:relative;top:20px;
  ">回首頁</a>

</footer>
       
</body> 
<!-- js 連結 -->
    <script src = './script.js'>

    </script>
</html>